#changeMe {
   width: 200px;
   height:200px;
   margin:20px;
   background: black;
   margin:20px auto;
}

#smallBox {
    width: 20px;
    height: 20px;
    background: white;
    /* animation: animationBox 3s alternate infinite ease-in-out; */
}
#changeMe:hover #smallBox {
   
    animation: animationBox 3s alternate infinite ease-in-out;
}
@keyframes animationBox {
    0% {
        /* background-color: rgb(250, 9, 198); */
        transform: translateX(0%);
    }
    25% {
        /* background-color: rgb(55, 28, 80); */
        transform: translateX(900%);
    }
     50%{
         /* background-color: rgb(35, 109, 194); */
         transform: translateX(900%) translateY(900%);
     }
     75% {
         /* background-color: rgb(12, 180, 110); */
         transform: translateY(900%);
     }
     100% {
        /* background-color: gold; */
        transform: translateX(0%);
    }
}

body {
    text-align: center;
    background: antiquewhite;
}